@import 'Styles/shared/index.scss';

.header {
    margin: 0;

    &_row {
        @include horizontalCentered(space-between);
        width: 100%;
        height: 100%;
        padding: 0 50px 0 50px;

        &__left {
            @include horizontalCentered();
        }

        &__right {
            @include horizontalCentered(flex-end)

            & h3 {
                padding: 0 20px 0 0;
            }
        }

        &__title {
           margin: 0 10px 0 0;
        }
    }
}
